@page "/"

<PageTitle>RPMS</PageTitle>

<h2>Welcome to the RACING PIGEON MANAGEMENT SYSTEM 2025 (RPMS2025)!</h2>

<br />
<br />
<br />

<table border="3">
    <tr>
        <th>Loft Name             </th>
        <th>ACE Racing Pigeons</th>
    </tr>
    <tr>
        <th>Owner Name            </th>
        <th>Kieran Malone</th>
    </tr>
    <tr>
        <th>Address               </th>
        <th>71 Hunter Circuit, PETRIE Qld 4502</th>
    </tr>
    <tr>
        <th>Phone                 </th>
        <th>0409 495 571</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>rpms2002@hotmail.com  </th>
    </tr>
    <tr>
        <th>Software Licence No.  </th>
        <th>A092345-345-Adfg</th>
    </tr>

</table>

@*
//Can a display of button be put on screen that directs to the Modules similar the Windows version
// i.e., Breeding Module, Racing Module, Health Module, etc.
// Can a display of button be put on screen that directs to the Reference Files similar the Windows version
// i.e., Bloodlines, Strains, etc.
// Can a display of button be put on screen that directs to the Reports similar the Windows version
// Buttond 'Breeding Register', 'Matings Register', 'Reference Files', 'Racing', 'Reports', 'Links''
*@
